/* set up the grid layout */

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 220px;
  /* make design responsive */
  width: 90vw;
  /* 90 width of the screen */
  height: auto;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #5f5d5d;
  background-color: #272626;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns, 1 fraction each */
  grid-column: span 4;
  /* take up 4 columns */
  gap: 5px;

}

/* style display area */
.display {
  grid-column: span 4;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: right;
  font-size: 40px;
  border: 2px solid #ccc;
  overflow-x: auto;
  /* add scroll bar if text is too long */
  white-space: nowrap;
  /* word-wrap:break-word; */
}

/* format buttons */
button {
  color: white;
  border-radius: 100%;
  /* round buttons */
  font-size: 18px;
  padding: 12px;
  border: 1px solid #ccc;
  width: 100%;
}

button.num {
  background-color: #505050;
}

/* add hover/active states for buttons */
button:hover {
  /* when mouse hovers over button */
  background-color: #9e9e9e;
}

button:active {
  /* when button is pressed */
  background-color: #eeebeb;
}

button.AC,
button.decimal,
button.equals {
  background-color: #ff9500;
}

button.AC:hover,
button.decimal:hover,
button.equals:hover,
button.plus-minus:hover,
button.percentage:hover,
button.divide:hover,
button.multiply:hover,
button.minus:hover,
button.plus:hover {
  background-color: #505050;
}

button.AC:active,
button.decimal:active,
button.equals:active,
button.plus-minus:active,
button.percentage:active,
button.divide:active,
button.multiply:active,
button.minus:active,
button.plus:active {
  background-color: #979595;
}

button.plus-minus,
button.percentage,
button.divide,
button.multiply,
button.minus,
button.plus {
  background-color: #d4d4d2;
}

/* responsive design */

@media (max-width: 400px) {
  .calculator {
    width: 100%;
    padding: 10px;
  }

  .display {
    font-size: 30px;
    padding: 10px;
  }

  button {
    font-size: 18px;
    padding: 10px;
  }
}