/* hand coded CSS file */


:root { 
 --font-body: 'Arial', sans-serif; 
 --border-radius: 10px; 
 --primary-color: #EDEDE9;
 --secondary-color: #D6F0D0;
 --bg-color: #EDEDE9;
 }

/* body */
body {
    background-color: #EDEDE9;
    color: #4F172A;
    margin: 10px;
    padding: 5px;
}

/*header*/
header {
    text-align: center;
    background: linear-gradient(to right, #D6F0D0, #E8B0C4);   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 97%;}
h1 {
    color: #9D2F54;
    font-size: 38px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
  }
.bitmoji {
    border-radius: 30px;
}

  /*nav*/
  .navlist {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 97%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,#BBE7B1, #E3A0B8);
  }
  .navlist a {
    color: #7E2644;
    font-family:'lucida console', monospace;
    font-size: 12px;
    font-weight: bold;
  }

/* pink golden gate picture */
  .ggbridge-container {
    width: 100%;
    height:auto;
    background: url(../images/pink-gg-bridge.jpeg) no-repeat center;
    background-size: cover;
    /* margin: 20px auto;
    border-radius: 10px; */
  }


  /* header h2, h3 */
h2, h3 {
    color: #7E2644;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #D6F0D0, #E8B0C4);   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  /* paragraph for about me */
#aboutme > p {
  padding-left: 25px;
  color: #4F172A;
  font-family: 'georgia', serif;
  font-size: 17px;
}

  /* bullet points for education and experience */
#education ul > li, #experience ol > li {
  padding-left: 20px;
  color: #4F172A;
  font-family: 'georgia', serif;
  font-size: 16px;
  list-style-type: square;
}

  /* projects */
#projects > h4, #projects > p {
  padding-left: 25px;
  color: #4F172A;
  font-family: 'georgia', serif;
  font-size: 16px;
}

/* message me form, the text boxes*/
#name, #email, #message {
  font-family: 'georgia', serif;
  margin-left: 20px;
}
/* message me form, the labels */
#contactmeform label { 
  color: #4F172A;
  font-family: 'georgia', serif;
  font-size: 16px;
  margin-left: 20px;
}
/* message me form, the submit button */
#submit {
  background-color: #BBE7B1;
  color: #4F172A;
  font-family: 'georgia', serif;
  font-size: 16px;
  margin-left: 20px;
  box-shadow: #000000 0px 0px 3px;
}
#submit:hover {
  background-color: #E3A0B8;
}

/* footer */
footer {
    text-align: center;
    background: linear-gradient(to right, #D6F0D0, #E8B0C4);   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 97%;
}

/*contact */
#contacts a {
  color: #5ABA4F;
  font-family: 'georgia', serif;
  font-size: 16px;
}
#contacts a:hover {
  color: #D46F92;
}
#contacts a:focus {
  color: #D46F92;
}
