


/* set up the grid layout */

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 220px;
  height: 360px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #ccc;
  background-color: #9e9e9e;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns, 1 fraction each */
  grid-column: span 4; /* take up 4 columns */
  gap: 5px;

}

/* style display area */
.display {
  grid-column: span 4;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: right;
  font-size: 40px;
  border: 2px solid #ccc;
}

/* format buttons */ 
button {
  background-color: #e0e0e0;
  border-radius: 100px; /* round buttons */
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  
}

button:hover { /* when mouse hovers over button */
  background-color: #9e9e9e;
}

button:active { /* when button is pressed */
  background-color: #eeebeb;
}

button.AC, button.decimal, button.equals {
  background-color: #77ae95;
}

button.AC:hover, button.decimal:hover, button.equals:hover, button.plus-minus:hover, 
    button.percentage:hover, button.divide:hover, button.multiply:hover, button.minus:hover, button.plus:hover{
  background-color: #3b4d4a;
}

button.AC:active, button.decimal:active, button.equals:active, button.plus-minus:active, 
    button.percentage:active, button.divide:active, button.multiply:active, button.minus:active, button.plus:active{
  background-color: #93d5ba;
}

button.plus-minus, button.percentage, button.divide, button.multiply,
    button.minus, button.plus {
    background-color: #598068;
}
